body {
  margin: 0px;
  left: 0;
  top: 0;
}

#navBar {
  background-color: #6ac200;
  padding: 10px 40px;
}

#navLogo {
  text-align: center;
  width: 149px;
  height: 30px;
  -webkit-transition-duration: 1s;
  opacity: .98;
  margin-left: 20px;
}

#mainContainer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  color: black;
  padding: 30px;
  /* background-color: #333; */
}

#signPage {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 550px;
  background-color: #6ac200;
  color: white;
  opacity: .98;
  box-shadow: 0px 8px 20px grey;
  -webkit-transition-duration: 1s;
}

#signContainer {
  margin: 150px 10%;
  /* background-color: grey; */
  -webkit-transition-duration: 1s;
}

.text-red {
 background-color: red;
 color: white;
}

#div-logo {
  left: 0;
  margin: 0;
  -webkit-transition-duration: 1.6s;
  /* background-color: #333;   */
  text-align: center;
}

#logo {
  text-align: center;
  margin-top: 30px;
  width: 340px;
  height: 70px;
  -webkit-transition-duration: 1s;
  opacity: .98;
  /* background-color: firebrick; */
}

#slogan {
  -webkit-transition-duration: 1s;
  /* background-color: blueviolet; */
}

@media (max-width: 1050px) {
  #logo {
    margin-top: 40px;
    width: 300px;
    height: 63px;
  }
  #slogan {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  #logo {
    width: 250px;
    height: 53px;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-top: 20px;
  }
  #header {
    height: 620px;
  }
}

@media (max-width: 576px) {
  #logo {
    margin-top: 20px;
  }
  #slogan {
    font-size: 12px;
  }
}


/* BODY */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* SIGNUP PAGE */

.form-sign {
  padding: 0 80px;
  -webkit-transition-duration: 1s;
}

.input-signup {
  margin-bottom: -15px;
  -webkit-transition-duration: 1s;
}

.button {
  border-radius: 17px;
  width: 90px;
}

@media(max-width: 1300px) {
  .form-sign {
    padding: 0 50px;
  }
}

@media(max-width: 1050px) {
  .form-sign {
    padding: 0 30px;
  }
}

@media(max-width: 900px) {
  .form-sign {
    padding: 0 10px;
  }
}

@media(max-width: 767px) {
  .form-sign {
    padding: 0 100px;
  }
}

@media(max-width: 700px) {
  .form-sign {
    width: 300px;
    padding: 0;
  }
}


/* SIGN UP PAGE */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* HOME PAGE */

#user {
  margin-right: 0%;
  text-align: right;
  -webkit-transition-duration: 1s;
  font-size: 90%;
  padding: 10px;
  /* background-color: #111; */
}

#left {
  /* background-color: green;    */
}

#right {
  /* background-color: blue;     */
}

#page-home {
  -webkit-animation-delay: 3s;
}

@media (max-width: 992px) {
  #user {
    display: none;
  }
  #v-pills-tab {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  #left {
    height: 60px;
  }
}

#btn-hello world {
  background-color: black;
  height: 200px;
  width: 200px;
}


/* HOME PAGE */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* BUY PAGE */

#cart {
  padding: 20px 2%;
  /* background-color: grey  */
}

.glyph {
  height: 15px;
  width: 15px;
}

#cartItemList {
  height: 80%;
  width: 100%;
  overflow: scroll;
}

.modal-product-image {
  height: 300px;
  width: 300px;
}

.image-product {
  height: 150px;
  width: 150px;
}

#buyPageProductList {
  height: 90%;
  overflow: scroll;
  /* visibility: hidden;s */
}

#content-main {
  /* position: absolute;
   */
  /* overflow: initial;  */
}

::-webkit-scrollbar {
  display: none;
}

.products {
  /* border: 1px solid black; */
}

#buy-inputs {
  height: 30px;
}


/* #dropdownProductSolution {
  height: 30px;
  padding: 2px 10px;
} */

#content-buy {
  /* background-color: blue; */
}

#cartTable {
  /* margin: 10px; */
}


/* BUY PAGE */


/* _______________________________________________________________________
   _______________________________________________________________________
   _______________________________________________________________________
   _______________________________________________________________________ 
*/


/* INVENTORY PAGE */

#inventoryProductList {
  height: 90%;
  width: 100%;
  overflow: scroll;
  /* visibility: hidden;s */
  /* background-color: green; */
}

#inventoryHeader {
  width: 90%;
}


/* INVENTORY PAGE */


/* _______________________________________________________________________
   _______________________________________________________________________
   _______________________________________________________________________
   _______________________________________________________________________ 
*/

#ordersList {
  height: 90%;
  width: 80%;
  overflow: scroll;
}

.inv-btn {
  margin: 0;
  background-color: blue;
  padding: 0
}